$bg-grey: #f3f4f4;
$text-grey: #b3bec0;
$bg-blue: #a9ccca;
$black: #192024;
$bg-dark: #5c6165; 
$green: #6e908b;
$dark-green: #09827D;

@mixin mobile-device(){
    @media screen and (max-width:1024px){
        @content
    }
}

@function set-text-color($bg-color){
    @if(lightness($bg-color) > 40){
        @return $black;
    } @else {
        @return #fff;
    }
}