$bg-grey: #f3f4f4;
$text-grey: #b3bec0;
$bg-blue: #a9ccca;
$hover-blue: #a9ccca30;
$black: #192024;
$bg-dark: #5c6165; 
$green: #6e908b;
$dark-green: #09827D;


@mixin bg-green{
    color: #000;
    background-color: $green;
}

@mixin mobile-device{
    @media screen and (max-width:960px){
        @content
    }
}

@function set-text-color($bg-color){
    @if(lightness($bg-color) > 40){
        @return $black;
    } @else {
        @return #fff;
    }
}

.bg-greeen{
    @include bg-green;
}

@mixin page-header-spacing{
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    display: flex;
}