@import 'resets';
@import 'variables';
@import './components/sidebar';
@import './components/accountTile';
@import './components/channel';

// modifier class
.text-green{
    color: $dark-green;
}



.App{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    @include mobile-device{
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        &__main{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    }
}