@import 'resets';
@import 'variables';
@import './components/sidebar';
@import './components/accountTile';
@import './components/channel';
@import './components/taskList';
@import './components/task';
@import './components/appointment';
@import './components/weather';
@import './components/messages';
@import './components/auth';
@import './components/forms';

// modifier class
.text-green{
    color: $dark-green;
}

.page_header{
    @include page-header-spacing;
}

.page_title{
    @include mobile-device{
        width: 70vw;
        }
}

.main-container{
    flex: 1;
    padding: 2em;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.rounded-container{
    padding: 1.5em;
    border: 3px solid $bg-grey;
    margin: 2em 0;
    border-radius: 12px;
    display: flex;
    transition: box-shadow .2s ease-out;
    cursor: pointer;
    position: relative;
}


#root{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.App{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

    &__main{
        flex: 1;
    }


    @include mobile-device{
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;

        &__main{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
        }

        .mobile-hidden{
            display: none;
        }
    }
}

//

.MainApp{
    position: relative;
}

#menu-icon{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2.1em;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
    z-index: 999;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu-icon__hidden{
    display: none;
}