.SignIn{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    h1{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    &__bg{
        position: absolute;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        background-image: url('http://localhost:3000/images/signin-bg.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -5;
        filter: blur(5px);
        opacity: 0.5;
    }

}

.SignUp{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;

    h1{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    @include mobile-device{
        display: grid;
    grid-template-columns: auto;
    padding: 0 1rem;
    }
}